.text{
   margin: 5px 400px;
}


input[type=text], input[type=password] {
  width: 30%;
  padding: 16px 20px;
  margin: 5px 400px;
  border-radius: 15px;
  display: block;
}


.registerbtn {
  background-color: #272b80;
  color: white;
  padding: 16px 20px;
  margin: 8px 420px;
  border-radius: 15px;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
}


/*.signin {*/
/*  background-color: #f1f1f1;*/
/*  text-align: center;*/
/*}*/


/*input[type=text]:focus, input[type=password]:focus {*/
/*  background-color: #ddd;*/
/*  outline: none;*/
/*}*/
