<div class="row">
    <div class="column">
        <h3 class = "header">
            {{ product.name }}
        </h3>
        <img id="main" src="{{ product.image }}" width = "450px">
        <div class = g>
        <p>
          {{ product.description }}
        </p>
        <h4> {{ product.price }} <br> <span class = "rate">rating: {{ product.rating }} </span></h4>
      </div>
      </div>
    <div class="column">
      <button (click)="Share()" class = "info"> More information </button>
    </div>
  </div>
